<div class="row-fluid">

	<div class="span12">
	<% if flash[:color]== "valid" %>
		<div class="alert alert-success">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="alert alert-error">
			<p><%=flash[:notice]%></p>
		</div>
	<% else -%>	
	<%end%>


	<div class = "Documentation">
		<h4>About eDiVa </h4>
		<p>
		Exome Disease Variant analysis (eDiVa), is a variant annotation and prioritization pipleine which integrates multiple information sources to identify disease-causing variants.
		<br/>
		<ul>
		<li> Integrates multiple genomics sources into one single Machine-learning based damage score: eDiVA-Score.</li> 
		<li> Helps researchers with an easy-to-use workflow to decide for potentially disease causing genic variants.</li>
		<li> It includes information from human genome and transcriptome sequencing, data from different omics platforms.</li>
		<li> Specialized in the analysis of rare and complex diseases</li>
		
		</ul>
		
		<br/>
		This project developed an integrated platform supporting the collection and storage of genome variation, expression, 
		omics and clinical data to provide diagnostics assistance, to elucidate pathogenicity and to identify causal coding gene mutations.
		</p>

	</div>

	<!-- ><div class = "Documentation">
	<h4>Disclaimer</h4>

		<p>
			...
		</p>
	</div>

	<div class = "Documentation">
	<h4>Confidentiality</h4>

		<p>
			...
		</p>

	</div>

	</div> -->

</div>