<div class="row-fluid">

	<div class="span12">
	<% if flash[:color]== "valid" %>
		<div class="alert alert-success">
			<p><%= flash[:notice]%></p>
		</div>
	<% elsif flash[:color]== "invalid"%>
		<div class="alert alert-error">
			<p><%=flash[:notice]%></p>
		</div>
	<% else -%>	
	<%end%>

	<div class = "row-fluid">
	<table align="center">		
		<tr>
			<td>		
				<%= link_to (image_tag('crg_logo.png')), "http://pasteur.crg.es/portal/page/portal/Internet/", target: "_blank" %>
			</td>
			<td>
			<table align="center">			
			<tr>
				<td><a href="mailto:mattia.bosio@bsc.es" target="_top">
					<b>Mattia Bosio</b></a> </br> 
					Barcelona Supercomputing Center (BSC), Barcelona, Spain</td>
			</tr>
			<tr><td></td></tr>
			<tr>	
				<td><a href="mailto:stephan.ossowski@med.uni-tuebingen.de" target="_top">
					<b>Stephan Ossowski</b> </a></br>
					Institute of Medical Genetics and Applied Genomics, University of Tübingen, Tübingen, Germany.</td>
			</tr>
			<tr><td></td></tr>
			<tr>
				<td><a href="mailto:oli.drechsel@gmail.com" target="_top">
					<b>Oliver Drechsel</b></a> </br> 
					 Berlin Institute of Health (BIH), Berlin, Germany.</td>
			</tr>
			<tr><td></td></tr>
			<tr>
				<td><a href="mailto:r.rahman@nki.nl" target="_top"><b>Rubayte Rahman</b> </a></br>
					NKI Netherlands Cancer Institute, Amsterdam, The Netherlands.</td>
			</tr>

			</table>
			</td>
		</tr>
	</table>
	</div>

	</div>

</div>