// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
		color: #ffffff;
		font-size: 3vmin;
	}

b {
  font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
          font-size: 200%;
}

p {
  font-size: 2vmin;
}
